* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0 ,0, .85);
  padding: 16px 24px;
}

nav h1 {
  font-size: 32px;
  letter-spacing: 2.5px;
  padding: 8px 16px;
  padding-right: 11px;
}

nav a {
  text-decoration: none;
  color: #999;
  transition: ease-in-out .15s;
}

nav a:hover {
  text-decoration: none;
  color: #fff;
}

.menu {
  display: none;
  align-items: center;
  margin: 0 -16px;
}

.menu a {
  margin: 0 16px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 98;

  padding-top: 96px;
  opacity: 0;
  transform: translateY(-100%);
  background-color: black;
  color: #999;
  transition: .3s;
}

.mobile-menu.is-open {
  opacity: 1;
  transform: translateY(0);
}

.mobile-menu a {
  display: block;
  padding: 16px;
  color: #999;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  transition: .3s;
}

.mobile-menu a:hover {
  color: #fff;
  background-color: lightblue;
}

.hamburger {
  display: none;
  height: min-content;
  cursor: pointer;
}

.hamburger .bar {
  width: 35px; 
  height: 2.5px;
  margin-bottom: 6px;
  background: #999;
  border-radius: 10%;
  transition: .3s;
}

/* helper to show the mobile menu when hamburger clicked */
.box-input {
  display: none;
}

.box-input:checked ~ .mobile-menu {
  opacity: 1;
  transform: translateY(0);
}

.box-input:checked ~ .hamburger {
  margin-top: 35px;
}

.box-input:checked ~ nav .hamburger .bar:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
}

.box-input:checked ~ nav .hamburger .bar:nth-child(2) {
  display: none;
}

.box-input:checked ~ nav .hamburger .bar:nth-child(3) {
  transform: rotate(-45deg);
}

@media (min-width: 788px) {
  .menu {
    display: flex;
  }
}

/* for smaller screen and mobile */
@media (max-width: 780px) {
  .hamburger {
    display: grid !important;
  }
}