<!DOCTYPE html>
<html lang="en">
<link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet" type="text/css">
<body>
<div class="header">
    <div class="header-left">
        <a class="logo" href="{{ url_for('index') }}">TALK Fitness</a>
    </div>
    <div class="header-right">
        <ul class="links">
            <div class="navbar-left">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('challenges') }}">Challenges</a></li>
                <li><a href="{{ url_for('leaderboard') }}">Leaderboard</a></li>
            </div>
            <div class="navbar-right">
                <li><a href="{{ url_for('user') }}">Login</a></li>
                <li><a href="{{ url_for('user') }}">Register</a></li>
            </div>
        </ul>
    </div>
</div>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>