<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block content %}
<h1>This page is under construction.</h1>
<p>This page will contain the daily challenge, a video tutorial of the exercise if necessary, the points for completion, a submit button, and previous days' challenges.</p>
<br>
<img src="https://media.istockphoto.com/photos/cat-with-craftsman-gear-on-white-background-picture-id473769324?k=20&m=473769324&s=612x612&w=0&h=LtjAhC2bRqAerc9TthCmid8EmE_xfH4oqaHRleYK0EU=">
{% endblock %}
</html>