<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block content %}
Example leaderboard, notice our initials order :)
<table>
    <tr>
        <td>Rank</td>
        <td>Username</td>
        <td>Score</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Tu</td>
        <td>1000</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Andrew</td>
        <td>800</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Logan</td>
        <td>600</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Kyle</td>
        <td>550</td>
    </tr>
</table>
{% endblock %}
</html>