<!DOCTYPE html>
<html lang="en">
<link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet" type="text/css">
<head>
    <meta charset="UTF-8">
    <title>TALK Fitness Tracker</title>
</head>
<body>
<div class="header">
    <div class="header-left">
        <a class="logo" href="{{ url_for('main.index') }}">TALK Fitness</a>
    </div>
    <div class="header-right">
        <ul class="links">
            <div class="navbar-left">
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                {% if current_user['username'] %}
                <li><a href="{{ url_for('main.user') }}">User</a></li>
                {% endif %}
                <li><a href="{{ url_for('main.challenges') }}">Challenges</a></li>
                <li><a href="{{ url_for('main.leaderboard') }}">Leaderboard</a></li>
            </div>
            <div class="navbar-right">
                {% if current_user['username'] %}
                <li><a href="{{ url_for('main.user') }}">Welcome, {{ current_user['username'] }}</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                {% endif %}
            </div>
        </ul>
    </div>
</div>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>