<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block content %}
<h1>This page is under construction.</h1>
<p>Previous challenges are located <button type="button">Here</button></p>
<p> Daily challenge #1</p>
<div style="border:3px; border-style:solid; border-color:#000000; padding: 1em;"><b> Challenge: Complete an exercise! </b>
    <p> Points upon completetion: 100</p>
    <p> tutorial (link to demonstration if needed)</p>
    <p> <form style="text-align:center" method="post">
        <input type="submit" value="Complete Challenge 1" name="challenge" >
    </form></p>
</div>
<p> Daily challenge #2</p>
<div style="border:3px; border-style:solid; border-color:#ff0000; padding: 1em;"><b> Challenge: Complete an exercise! </b>
    <p> Points upon completetion: 200</p>
    <p> tutorial (link to demonstration if needed)</p>
    <p> <form style="text-align:center" method="post">
        <input type="submit" value="Complete Challenge 2" name="challenge">
    </form></p>
</div>
<p> Daily challenge #3</p>
<div style="border:3px; border-style:solid; border-color:#3f3690; padding: 1em;"><b> Challenge: Complete an exercise! </b>
    <p> Points upon completetion: 300</p>
    <p> tutorial (link to demonstration if needed)</p>
    <p> <form style="text-align:center" method="post">
        <input type="submit" value="Complete Challenge 3" name="challenge" >
    </form></p>
</div>

<p>This page will contain the daily challenge, a video tutorial of the exercise if necessary, the points for completion, a submit button, and previous days' challenges.</p>
<p>We're hard at work on it!</p>
<br>
<img src="https://media.istockphoto.com/photos/cat-with-craftsman-gear-on-white-background-picture-id473769324?k=20&m=473769324&s=612x612&w=0&h=LtjAhC2bRqAerc9TthCmid8EmE_xfH4oqaHRleYK0EU=">
{% endblock %}
</html>