<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block content %}
<h1>This page is under construction.</h1>
<p>
    <span style="animation: pulse 5s infinite;" size =10x>Daily Challenge#1</span>
  </p>
  
  <style>
  @keyframes pulse {
    0% {
      color: red;
    }
    100% {
      color: blue;
    }
  }
  </style>
<div style="border:3px; border-style:solid; border-color:#000000; padding: 1em;"><b> Challenge: Complete any form of exercise! </b>
    <p> Points upon completetion: 100</p>
    <p> <form style="text-align:center" method="post">
        <input type="submit" value="Complete Challenge 1" name="challenge" >
    </form></p>
</div>
<p>
    <span style="animation: pulse 5s infinite;" size =10x>Daily Challenge#2</span>
  </p>
  
  <style>
  @keyframes pulse {
    0% {
      color: red;
    }
    100% {
      color: rgb(26, 196, 20);
    }
  }
</style>
<div style="border:3px; border-style:solid; border-color:#ff0000; padding: 1em;"><b> Challenge: beat any previous exercise related record! </b>
    <p> Points upon completetion: 200</p>
    <p> <form style="text-align:center" method="post">
        <input type="submit" value="Complete Challenge 2" name="challenge">
    </form></p>
</div>
<p>
    <span style="animation: pulse 5s infinite;" size =10x>Daily Challenge#1</span>
  </p>
  
  <style>
  @keyframes pulse {
    0% {
      color: rgb(25, 15, 208);
    }
    100% {
      color: rgb(220, 20, 170);
    }
  }
  </style>
<div style="border:3px; border-style:solid; border-color:#3f3690; padding: 1em;"><b> Challenge: Complete a murph! </b>
    <p> Points upon completetion: 300</p>
    <a href="https://www.healthline.com/nutrition/murph-workout">Learn about the MURPH!</a>
    <p> <form style="text-align:center" method="post">
        <input type="submit" value="Complete Challenge 3" name="challenge" >
    </form></p>
</div>
{% endblock %}
</html>