<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}
{% block content %}
    <style>
        body {
            background-image: url("https://i.postimg.cc/k5fgjt4S/image-1.png");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>

    <div class="container">
        <div class="jumbotron ">
            <h1 class="display-4 font-weight-normal text-center">TALK Fitness</h1>
            <p class="lead font-weight-normal text-center"> web application that will take user fitness data, either
                manually entered or entered through an existing fitness tracker’s API, and log it into a user account.
                Based
                on their input, we will create a leaderboard showing their username and their fitness score. Login
                authentication will hopefully use Google’s OAuth. The user will be able to record their information and
                see
                other users’ fitness goals and fitness history.</p>
        </div>
    </div>

{% endblock %}
</html>
