<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block content %}

<!-- Custom styles for this template -->
<link href="{{ url_for('static', filename='signin.css') }}" rel="stylesheet">

<body class="text-center">
<div class="login-page">
    <div class="form">
        <form method="post" class="form-signin">
            {{ form.csrf_token }}
            {% with messages = get_flashed_messages(with_categories=true) %}
            <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{category}}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <h3 class="h3 mb-3 font-weight-normal">Login</h3>
            <p class="p mb-3 font-weight-normal">Welcome back!</p>

            <!-- Username login field -->
            <label for="inputUsername" class="sr-only">Username</label>
            <fieldset class="form-signin" id="inputUsername" class="form-control">
                {{ form.username(placeholder='Username') }}
                {% if form.username.errors %}
                <ul class="errors">
                    {% for error in form.username.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </fieldset>

            <!-- Password login field -->
            <label for="inputPassword" class="sr-only">Password</label>
            <fieldset class="form-signin" id="inputPassword" class="form-control">
                {{ form.password(placeholder='Password') }}
                {% if form.password.errors %}
                <ul class="errors">
                    {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <!-- Remember me checkbox -->
            </fieldset>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>

            <!-- Submit button -->
            <button class="btn btn-lg btn-primary btn-lg" type="submit">Submit</button>

            <p class="message">Not registered? <a href="{{ url_for('auth.register') }}">Create an account</a></p>
        </form>
    </div>
</div>
</body>
{% endblock %}
</html>