<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block content %}
{% if user %}
    <h1>{{ user['username'] }}'s workout history</h1>
    <p style="font-size: 20px;">{{ user['username'] }} currently has <b>{{ user.points }}</b> point{% if user.points != 1 %}s{% endif %}.</p>
    {% for workout in workout_history %}
    <h6>{{ datetime.utcfromtimestamp(workout.time).strftime("%A, %B %d, %Y at %I:%M%p") }}</h6>
    <h5>{{ workout.type }}</h5>
    <p>{{ Workout.get_summary(workout) }}</p>
    {% endfor %}
{% else %}
    <h1>That user does not exist.</h1>
{% endif %}
{% endblock %}
</html>